<html>
  <head>
    <meta charset='utf-8'>
    {% if title %}
      <title>
        {{ title }} - Weather (powered by <i><a href='forecast.io'>DarkSky API</a></i>)</title>
    {% else %}
      <title>Welcome to Weather (powered by DarkSky API)</title>
    {% endif %}

    <style>
      body {
        font: 12px Arial;
      }
      path {
        stroke-width: 2;
        fill: none;
      }
      .axis path, .axis line {
        fill: none;
        stroke: steelblue;
        stroke-width: 2;
        shape-rendering: crispEdges;
      }
    </style>
  </head>

  <body>
    <div>
      <h1>Weather (powered by DarkSky API)</h1>
      <a href='{{ url_for("getIndex") }}'>Home</a> |
      <a href='{{ url_for("getForecastTemperatureD3") }}'>Forecast Temperature</a> |
      <a href='{{ url_for("getHistoricalHindcastTemperatureD3") }}'>Hindcast Temperature</a> |
      <a href='{{ url_for("getForecastAndHindcastTemperatureD3") }}'>Forecasted & Hindcasted Temperature</a>
    </div>
    <hr>
    {% block content %}
    {% endblock %}
  </body>
</html>
