<!DOCTYPE html>
<html>


  <head>
    <meta charset='utf-8'>
    <title>Test: Rendering DarkSky Data w/ D3</title>
    <script type='text/javascript' src="../js/d3.v4.js"></script>
  </head>

  <body>

    <svg width='960' height='500'></svg>

    <script>
      const svg = d3.select('svg'),
            margin = {top: 20, right: 20, bottom: 30, left: 50},
            width = +svg.attr('width') - margin.left - margin.right,
            height = +svg.attr('height') - margin.top - margin.bottom,
            g = svg.append('g').attr('transform', 'translate(' + margin.left + ',' + margin.top + ')');

      const parseTime = d3.timeParse('%Y-%m-%d %H:%M:%S');

      const x = d3.scaleTime()
            .rangeRound([0, width]);

      const y = d3.scaleLinear()
            .rangeRound([height, 0]);

      const line = d3.line()
            .x((d) => { return x(d.date); })
            .y((d) => { return y(d.temperature); });

      d3.csv('./data/forecast-hourly-temp.csv', (d) => {
        d.date = parseTime(d.date);
        d.temperature = +d.temperature;
        return d;
      }, (err, data) => {
        if (err) throw err;

        console.log(data);
        x.domain(d3.extent(data, (d) => { return d.date; }));
        y.domain(d3.extent(data, (d) => { return d.temperature; }));

        g.append('g')
            .attr('transform', 'translate(0,' + height + ')')
            .call(d3.axisBottom(x))
          .select('.domain')
            .remove();

        g.append('g')
            .call(d3.axisLeft(y))
          .append('text')
            .attr('fill', '#000')
            .attr('transform', 'rotate(-90)')
            .attr('y', 6)
            .attr('dy', '0.71em')
            .attr('text-anchor', 'end')
            .text('Temperature (deg.F)');

        g.append('path')
            .datum(data)
            .attr('fill', 'none')
            .attr('stroke', 'steelblue')
            .attr('stroke-linejoin', 'round')
            .attr('stroke-linecap', 'round')
            .attr('stroke-width', 1.5)
            .attr('d', line);
      });

    </script>
  </body>


</html>
