<!DOCTYPE html>

<html lang='en'>

  <head>
    <meta charset='utf-8'>
    <title>Testing multi-line D3</title>
    <style>
      body {
        font: 12px Arial;
      }
      path {
        stroke-width: 2;
        fill: none;
      }
      .axis path, .axis line {
        fill: none;
        stroke: steelblue;
        stroke-width: 2;
        shape-rendering: crispEdges;
      }
      .area {
        fill: #F0F8FF;
        stroke-width: 0;
      }
    </style>
  </head>

  <body>

    <h1>Testing multi-line with D3</h1>
    <div id='graphDiv'></div>

    <script type='text/javascript' src='https://d3js.org/d3.v3.min.js'></script>
    <script>


      const graphData = [
        {
          "forecast": "",
          "hindcast": "46.93",
          "date": "2018-04-06 00:00:00"
        },
        {
          "forecast": "",
          "hindcast": "46.85",
          "date": "2018-04-06 01:00:00"
        },
        {
          "forecast": "",
          "hindcast": "47.13",
          "date": "2018-04-06 02:00:00"
        },
        {
          "forecast": "",
          "hindcast": "47.03",
          "date": "2018-04-06 03:00:00"
        },
        {
          "forecast": "",
          "hindcast": "46.77",
          "date": "2018-04-06 04:00:00"
        },
        {
          "forecast": "",
          "hindcast": "46.98",
          "date": "2018-04-06 05:00:00"
        },
        {
          "forecast": "",
          "hindcast": "46.79",
          "date": "2018-04-06 06:00:00"
        },
        {
          "forecast":"46.86",
          "hindcast":"",
          "date":"2018-04-06 07:00:00"
        },
        {
          "forecast":"47.3",
          "hindcast":"",
          "date":"2018-04-06 08:00:00"
        },
        {
          "forecast":"47.99",
          "hindcast":"",
          "date":"2018-04-06 09:00:00"
        },
        {
          "forecast":"48.93",
          "hindcast":"",
          "date":"2018-04-06 10:00:00"
        },
        {
          "forecast":"49.88",
          "hindcast":"",
          "date":"2018-04-06 11:00:00"
        },
        {
          "forecast":"51.44",
          "hindcast":"",
          "date":"2018-04-06 12:00:00"
        },
        {
          "forecast":"53.01",
          "hindcast":"",
          "date":"2018-04-06 13:00:00"
        },
        {
          "forecast":"54.67",
          "hindcast":"",
          "date":"2018-04-06 14:00:00"
        },
        {
          "forecast":"56.03",
          "hindcast":"",
          "date":"2018-04-06 15:00:00"
        },
        {
          "forecast":"57.3",
          "hindcast":"",
          "date":"2018-04-06 16:00:00"
        },
        {
          "forecast":"57.82",
          "hindcast":"",
          "date":"2018-04-06 17:00:00"
        },
        {
          "forecast":"57.51",
          "hindcast":"",
          "date":"2018-04-06 18:00:00"
        },
        {
          "forecast":"56.5",
          "hindcast":"",
          "date":"2018-04-06 19:00:00"
        },
        {
          "forecast":"55.24",
          "hindcast":"",
          "date":"2018-04-06 20:00:00"
        },
        {
          "forecast":"54.18",
          "hindcast":"",
          "date":"2018-04-06 21:00:00"
        },
        {
          "forecast":"53.08",
          "hindcast":"",
          "date":"2018-04-06 22:00:00"
        },
        {
          "forecast":"52.21",
          "hindcast":"",
          "date":"2018-04-06 23:00:00"
        },
        {
          "forecast": "51.44",
          "hindcast": "",
          "date": "2018-04-07 00:00:00"
        },
        {
          "forecast": "50.72",
          "hindcast": "",
          "date": "2018-04-07 01:00:00"
        },
        {
          "forecast": "50.05",
          "hindcast": "",
          "date": "2018-04-07 02:00:00"
        },
        {
          "forecast": "49.38",
          "hindcast": "",
          "date": "2018-04-07 03:00:00"
        },
        {
          "forecast": "48.82",
          "hindcast": "",
          "date": "2018-04-07 04:00:00"
        },
        {
          "forecast": "48.33",
          "hindcast": "",
          "date": "2018-04-07 05:00:00"
        },
        {
          "forecast": "48.08",
          "hindcast": "",
          "date": "2018-04-07 06:00:00"
        },
        {
          "forecast": "47.84",
          "hindcast": "",
          "date": "2018-04-07 07:00:00"
        },
        {
          "forecast": "47.88",
          "hindcast": "",
          "date": "2018-04-07 08:00:00"
        },
        {
          "forecast": "48.11",
          "hindcast": "",
          "date": "2018-04-07 09:00:00"
        },
        {
          "forecast": "48.6",
          "hindcast": "",
          "date": "2018-04-07 10:00:00"
        },
      ];

      // Set dimensions of SVG object:
      const margin = { top: 30, right: 50, bottom: 30, left: 50 };
      const svgWidth = 1000;
      const svgHeight = 600;

      // Center the D3-figure wihin the SVG element
      const figWidth = svgWidth - margin.left - margin.right;
      const figHeight = svgHeight - margin.top - margin.bottom;

      // Parsing the datetime column:
      const parseDate = d3.time.format('%Y-%m-%d %H:%M:%S').parse;

      // Setting the figures' axes ranges:
      const x = d3.time.scale().range([0, figWidth]);
      const y = d3.scale.linear().range([figHeight, 0]);

      // Defining the axes:
      const xAxis = d3.svg.axis().scale(x)
            .orient('bottom').ticks(5);
      const yAxis = d3.svg.axis().scale(y)
            .orient('left').ticks(5);

      // Defining the Forecast temperature data:
      const forecastLine = d3.svg.line()
	        .defined( function(d) { return d.forecast; })
            .x((d) => { return x(d.date); })
            .y((d) => { return y(d.forecast); });

      // Defining the historical Hindcast temperature data:
      const hindcastLine = d3.svg.line()
			.defined( function(d) { return d.hindcast; })
            .x((d) => { return x(d.date); })
			.y((d) => { return y(d.hindcast); })

      // Adding the SVG canvas:
      const svg = d3.select('#graphDiv')
            .append('svg')
              .attr('width', svgWidth)
              .attr('height', svgHeight)
            .append('g')
              .attr('transform', 'translate(' + margin.left + ',' + margin.top + ')');

      // Defining plot/draw function:
      const plot = (data) => {
        data.forEach((d) => {
          d.date = parseDate(d.date);
          d.forecast = +d.forecast;
        });

        // Scale the data's range:
        x.domain(d3.extent(data, (d) => { return d.date; }));
        y.domain([
          d3.min(data, (d) => {
            return Math.min(d.forecast, d.hindcast);
          }),
          d3.max(data, (d) => {
            return Math.max(d.forecast, d.hindcast)
          })
        ]);

        // Adding the X-Axis:
        svg.append('g')
          .attr('class', 'x axis')
          .attr('transform', 'translate(0,' + figHeight + ')')
            .call(xAxis);

        // Adding the Y-Axis:
        svg.append('g')
          .attr('class', 'y axis')
            .call(yAxis);

        // Adding forecast & hindcast temperature data:
        // a. Forecast data:
        svg.append('path')
          .style('stroke', 'green')
          .style('fill', 'none')
          .attr('class', 'line')
          .attr('d', forecastLine(data));
        // b. Hindcast (historical) data:
        svg.append('path')
          .style('stroke', 'steelblue')
          .style('fill', 'none')
          .style('stroke-dasharray', ('3, 3'))
          .attr('d', hindcastLine(data));

      };

      plot(graphData)

    </script>

  </body>

</html>
